@import 'normalize.css';
@import 'react-resizable/css/styles.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;
}

.react-resizable-handle {
    border: none;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    cursor: se-resize;

}